.div1{
    width: auto;
    height: 50px;
    background-color: #ce0505;
    padding: 7px 101px 10px 102px;
    
}
.e{
    /* margin: 1px 23px 7px 4px ; */
    border: 1px #ce0505 solid;
    background-color: white;
    padding: 5px 1px 5px 9px;
    border-radius: 100%;
    font-family: sans-serif;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #eb2929;
}
.Login{
    margin-left:70%;
    color: white;
}
.Create-an-account{

  margin: 0 0 0 26px;
  padding: 11px 14px 10px 15px;
  border-radius: 3px;
  border: solid 1px #fff;
    color: white;
}
.Breakfast-Places-in-Mumbai {
    
    margin: 37px 25px 27px 90px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold; 
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
  }
  .div3{
      padding: 20px;
  }
  .div4{
    width: 210px;
    height: 640px;
    margin: 27px 45px 8px 113px;
    padding: 17px 25px 31px 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
      
  }
  .select{
    padding: 5px 60px 5px 10px;
    color: #8c96ab;
    font-family: sans-serif;
    border-color: #8c96ab;
    font-size: 14px;
  }
  .filter{
    color: #192f60;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .filter2{
    color: #192f60;
    font-family: sans-serif;
    font-size: 14px;
  }
  input[type="checkbox"],input[type="radio"]{
    vertical-align: middle;
    border: 1.5px solid #192f60;
    
  }
  .div5{
    
      width: 554px;
      height: 220px;
      margin: -645px 154px 34px 290px;
      padding: 25px 32.6px 20px 35px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #fff;
     
          
  }
  .div6{
    
    width: 554px;
    height: 220px;
    margin: 50px 154px 34px 290px;
    padding: 25px 32.6px 20px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    
  
}
  .div7{
    height: 50px;
    width: 250px;  
    margin: -140px 104px 34px 120px;
    padding: 0px 32.6px 20px 0px;
    line-height: 0.5;
    
}
 table,td,th{
    margin:45px 100px 34px 420px ;
    border: 1px solid #8c96ab;
    border-radius: 7px;
    padding: 3px 6px 3px 6px ;
    font-weight: bold;
    font-family: sans-serif;
    color: #8c96ab;
 }
 .image{
    width: 100px;
    height: 100px;
    margin: 0 41px 31px 0;
    object-fit: cover;
    border-radius: 20%;
 }
 ol{
   padding: 0 0 0 5px;
   list-style-type: none;
   font-family: sans-serif;
   font-size: 14px;
   color: #636f88;
   line-height: 2;
   
 }
 ul{
  margin: -70px 0 0 145px;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #192f60;
  line-height: 2;
 }